.profile__heading {
  display: flex;
  justify-content: center;
  align-items: baseline;
  column-gap: 10px;
  margin: 0 0 6px 0;
}

@media screen and (min-width: 768px) {
  .profile__heading {
    margin-bottom: 16px;
    column-gap: 19px;
  }
}
