.button_type_edit {
  background-color: #000;
  width: 18px;
  height: 18px;
  border: none;
  background-image: url(../../../images/edit-button.svg);
  background-repeat: no-repeat;
  background-position: center;
}
