.profile__title {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 27px;
  line-height: 33px;
  text-align: center;
  color: #ffffff;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .profile__title {
    font-size: 35px;
    line-height: 40px;
    max-width: 294px;
  }
}

@media screen and (min-width: 1024px) {
  .profile__title {
    font-size: 42px;
    line-height: 48px;
  }
}
