.content__places {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  justify-content: space-between;
  margin: 0 19px 48px;
  list-style: none;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .content__places {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .content__places {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 17px;
    max-width: 880px;
    margin: 0 auto;
  }
}
