.profile__description {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  margin: 0 0 36px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .profile__description {
    margin: 0;
    font-size: 16px;
    line-height: 17px;
    text-align: left;
    max-width: 336px;
  }
}

@media screen and (min-width: 1024px) {
  .profile__description {
    font-size: 18px;
    line-height: 22px;
  }
}
