.button__text {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}

@media screen and (min-width: 1024px) {
  .button__text {
    font-size: 18px;
    line-height: 22px;
  }
}
