/* normalize */
@import url(../vendor/normalize.css);

/* fonts */
@import url(../vendor/fonts/fonts.css);

/* page */
@import url(../blocks/page/page.css);
@import url(../blocks/page/__header/page__header.css);
@import url(../blocks/page/__footer/page__footer.css);

/* logo */
@import url(../blocks/logo/logo.css);

/* header */
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);

/* content */
@import url(../blocks/content/__profile/content__profile.css);
@import url(../blocks/content/__places/content__places.css);

/* button */
@import url(../blocks/button/button.css);
@import url(../blocks/button/_type/button_type_add.css);
@import url(../blocks/button/_type/button_type_edit.css);
@import url(../blocks/button/_type/button_type_like.css);
@import url(../blocks/button/_type/button_type_close.css);
@import url(../blocks/button/_type/button_type_submit.css);
@import url(../blocks/button/__text/button__text.css);

/* profile */
@import url(../blocks/profile/__figure/profile__figure.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__heading/profile__heading.css);
@import url(../blocks/profile/__title/profile__title.css);
@import url(../blocks/profile/__description/profile__description.css);

/* place */
@import url(../blocks/place/place.css);
@import url(../blocks/place/__image-container/place__image-container.css);
@import url(../blocks/place/__image/place__image.css);
@import url(../blocks/place/__heading-content/place__heading-content.css);
@import url(../blocks/place/__title/place__title.css);

/* footer */
@import url(../blocks/footer/__text/footer__text.css);

/* popup */
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_opened/popup_opened.css);

/* form */
@import url(../blocks/form/form.css);
@import url(../blocks/popup/__form/popup__form.css);
@import url(../blocks/form/__title/form__title.css);

/* input */
@import url(../blocks/input/input.css);
@import url(../blocks/input/_type/input_type_name.css);
@import url(../blocks/input/_type/input_type_post.css);
